.itemCountDiv {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.itemCountDiv .inputCountItem {
  display: flex;
  gap: 10px;
}

.itemCountDiv button.actionButton {
  background-color: #ee2b6c;
  border: none;
  width: 120px;
  height: 60px;
  color: #fff;
  font-size: 50px;
  border-radius: 20px;
  cursor: pointer;
}

.itemCountDiv input.inputStyle {
  border-radius: 20px;
  text-align: center;
  font-size: 50px;
  width: 160px;
}

.itemCountDiv .addToCart {
  background-color: #ee2b6c;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.itemCountDiv .addToCart:global(.disabled) {
  background-color: gray;
}
