.catalogLayout {
  display: flex;
  height: 80vh;
}

:global(.onDesktop) {
  display: block;
}
:global(.onMobile) {
  display: none;
}

@media screen and (max-width: 570px) {
  .catalogLayout {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-y: visible;
  }

  :global(.onMobile) {
    display: block;
  }

  :global(.onDesktop) {
    display: none;
  }
}
