.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.411);
  width: 300px;
  height: 600px;
  border-radius: 1rem;
}

.item .imgContainer {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.item .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transition: all 400ms;
}

.item .imgContainer img:hover {
  transform: scale(1.2);
}

.testBtn {
  align-self: center;
  justify-self: center;
  background-color: #ee2b6c;
  color: #fff;
  border-style: none;
  width: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}

.item p {
  font-size: 1.5rem;
}

.item span {
  color: #ee2b6c;
  font-weight: bold;
  font-size: 2rem;
}
