.buttonCategory {
  font-size: 20px;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.buttonCategory:global(.active) {
  background-color: #ee2b6c;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
