.navPrimary {
  background-color: white;
  /* padding-top: 1.5rem; */
  /* padding-bottom: 1.5rem; */
  padding-right: 2rem;
  /* padding-left: 2rem; */
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid lightgray;
}

.navLogo {
  width: 10rem;
  padding-left: 1.5rem;
}

.linkList {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.linkItem {
  cursor: pointer;
  color: grey;
  text-decoration: none;
}

.linkItem:hover {
  color: #ee2b6c;
}

.linkItem:global(.active) {
  color: #ee2b6c;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 20%;
}

.cartProfile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartButton {
  color: black;
  font-size: 1.5rem;
  background-color: #f3e7eb;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.profileButton {
  font-size: 1.5rem;
  cursor: pointer;
}
