.tableItem {
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.411);
  padding-right: 2rem;
  margin-bottom: 3rem;
}

.tableItem .image {
  width: 20%;
  border-radius: 20px;
}

.tableItem .nombre {
  font-size: 40px;
  color: #ee2b6c;
  justify-self: flex-start;
}

.tableItem .precio {
  font-size: 1.5rem;
}

.tableItem .btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.tableItem .btn.btnDanger {
  background-color: red;
}
