.ItemView {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 40px auto;
  margin-bottom: 2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10rem;
}

.ItemView .image {
  width: 40%;
  border-radius: 20px;
}

.ItemView .infoContainer {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.ItemView .infoContainer .name {
  font-weight: bold;
  font-size: 2rem;
}

.ItemView .infoContainer .price {
  color: #ee2b6c;
  font-weight: bold;
  font-size: 2rem;
}
