.sideBar {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.sideBar .titleFilter {
  margin-bottom: 30px;
}

@media screen and (max-width: 570px) {
  .sideBar {
    width: 100vw;
  }

  .sideBar .titleFilter {
    display: none;
  }
}
