.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
  width: 99vw;
  background-color: #fff;
  color: lightgray;
  height: 5rem;
  position: fixed;
  bottom: 0%;
}

.footer .footerImg {
  width: 5rem;
  justify-self: flex-start;
}
