* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Item List Container*/

.message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  border: 1px solid;
  padding: 40px;
  background-color: #d1ccdc;
  border-radius: 20px;
}
