.PresentationContainer {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../../img/image-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  color: #fff;
  gap: 40px;
}

.title {
  font-size: 90px;
  width: 50%;
  text-align: center;
}

.presentationText {
  width: 40%;
}
