.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 77vh;
}

.notFound p {
  text-align: center;
  font-weight: 900;
  color: gray;
  font-size: 50px;
}
